.background-icon {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1441px;
    height: 641px;
    object-fit: cover;
}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
}
.destination {
    position: absolute;
    top: 0px;
    left: 82px;
}
.foreign-clients {
    position: absolute;
    top: 0px;
    left: 313px;
}
.search {
    position: absolute;
    top: 0px;
    left: 446px;
}
.group-deals {
    position: absolute;
    top: 0px;
    left: 195px;
}
.menu {
    position: absolute;
    top: 26px;
    left: 477px;
    width: 486px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    font-family: Inter;
}
.sign-up-button-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 12px;
    background-color: #d9d9d9;
    width: 121px;
    height: 35px;
}
.sign-up {
    position: absolute;
    top: 10px;
    left: 14px;
}
.sign-up-button {
    position: absolute;
    top: 24px;
    left: 1239px;
    width: 121px;
    height: 35px;
    font-size: 12px;
    color: #000;
    font-family: Inter;
}
.yatra-buddy {
    position: absolute;
    top: 175px;
    left: 80px;
    font-size: 80px;
    font-family: 'Odor Mean Chey';
    color: #fff;
    display: inline-block;
    width: 494px;
    height: 88px;
}
.a-travel-platform {
    position: absolute;
    top: 318px;
    left: 80px;
    font-size: 16px;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.87);
    display: inline-block;
    width: 535px;
    height: 84px;
}
.check-now-button-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 12px;
    background-color: #ffbc00;
    width: 121px;
    height: 38px;
}
.check-now-button {
    position: absolute;
    top: 428px;
    left: 80px;
    width: 121px;
    height: 38px;
    font-size: 16px;
    color: #000;
    font-family: Inter;
}
.scroll-images-child {
    position: absolute;
    top: 1px;
    left: 598px;
    border-radius: 15px;
    width: 280px;
    height: 278px;
    object-fit: cover;
}
.scroll-images-item {
    position: absolute;
    top: 1px;
    left: 305px;
    border-radius: 15px;
    width: 280px;
    height: 278px;
    object-fit: cover;
}
.scroll-images-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    width: 289px;
    height: 279px;
    object-fit: cover;
}
.scroll-images {
    position: absolute;
    top: 213px;
    left: 672px;
    width: 878px;
    height: 279px;
}
.why-choose-us {
    position: absolute;
    top: 671px;
    left: 591px;
    font-size: 28px;
    font-family: Inter;
    color: #000;
    text-align: center;
}
.main-child {
    position: absolute;
    top: 2122px;
    left: 0px;
    background-color: #d99677;
    width: 1440px;
    height: 416px;
}
.trusted {
    position: absolute;
    top: 2229px;
    left: 569px;
    font-size: 42px;
    line-height: 124.5%;
    font-weight: 500;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 314px;
    height: 95px;
}
.hbasbdlnbkdbifwgqowbkqbdqfiube {
    position: absolute;
    top: 2302px;
    left: 526px;
    font-size: 16px;
    line-height: 124.5%;
    font-weight: 500;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 388px;
    height: 128px;
}
.subheading {
    position: absolute;
    top: 2623px;
    left: 607px;
    font-weight: 600;
    text-align: center;
}
.heading {
    position: absolute;
    top: 2670px;
    left: 384px;
    font-size: 50px;
    text-transform: capitalize;
    font-family: Volkhov;
    color: #14183e;
    text-align: center;
}
.travel-card-child {
    position: absolute;
    top: 0px;
    left: 1px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
    border-radius: 24px;
    background-color: #bc4040;
    width: 314px;
    height: 457px;
}
.card-2-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px 0px 24px 24px;
    background-color: #fff;
    width: 315px;
    height: 130px;
}
.name {
    position: absolute;
    top: 27px;
    left: 20px;
    line-height: 124.5%;
    font-weight: 500;
}
.rs-6000 {
    position: absolute;
    top: 28px;
    left: 230px;
    line-height: 124.5%;
    font-weight: 500;
}
.card-2-item {
    position: absolute;
    top: 70px;
    left: 75px;
    width: 16px;
    height: 15px;
}
.card-2-inner {
    position: absolute;
    top: 70px;
    left: 39px;
    width: 16px;
    height: 15px;
}
.star-icon {
    position: absolute;
    top: 70px;
    left: 93px;
    width: 16px;
    height: 15px;
}
.card-2-child1 {
    position: absolute;
    top: 70px;
    left: 21px;
    width: 16px;
    height: 15px;
}
.card-2-child2 {
    position: absolute;
    top: 70px;
    left: 57px;
    width: 16px;
    height: 15px;
}
.card-2 {
    position: absolute;
    top: 327px;
    left: 0px;
    width: 315px;
    height: 130px;
}
.travel-card {
    position: absolute;
    top: 2775px;
    left: 129px;
    width: 315px;
    height: 457px;
}
.tavel-card {
    position: absolute;
    top: 2775px;
    left: 559px;
    width: 315px;
    height: 457px;
}
.travel-card1 {
    position: absolute;
    top: 2775px;
    left: 989px;
    width: 315px;
    height: 457px;
}
.main-item {
    position: absolute;
    top: 3424px;
    left: 276.94px;
    filter: blur(150px);
    border-radius: 50%;
    background-color: #d5aee4;
    width: 478.9px;
    height: 496.9px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
    opacity: 0.8;
}
.yatra-buddy1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 278px;
}
.book-your-planner {
    margin: 0;
    white-space: pre-wrap;
}
.book-your-planner-container {
    position: absolute;
    top: 76px;
    left: 37px;
    font-size: 13px;
    line-height: 124.5%;
    font-weight: 500;
    color: #5e6282;
    display: inline-block;
    width: 217.9px;
}
.company-desc {
    position: absolute;
    top: 3450px;
    left: 147px;
    width: 278px;
    height: 124px;
    font-size: 44px;
    color: #181e4b;
}
.company {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 21px;
    line-height: 124.5%;
    display: inline-block;
    color: #080809;
    width: 113.7px;
}
.about {
    position: absolute;
    top: 60px;
    left: 0px;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 57.9px;
}
.careers {
    position: absolute;
    top: 94px;
    left: 0px;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 75.8px;
}
.mobile {
    position: absolute;
    top: 129px;
    left: 0px;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 64.2px;
}
.nav-row {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 113.7px;
    height: 151px;
}
.contact {
    position: absolute;
    top: 0px;
    left: 1.05px;
    font-size: 21px;
    line-height: 124.5%;
    display: inline-block;
    color: #080809;
    width: 92.6px;
}
.helpfaq {
    position: absolute;
    top: 58px;
    left: 0px;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 90.5px;
}
.press {
    position: absolute;
    top: 94px;
    left: 0px;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 50.5px;
}
.affilates {
    position: absolute;
    top: 129px;
    left: 0px;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 77.9px;
}
.nav-row1 {
    position: absolute;
    top: 0px;
    left: 189.46px;
    width: 93.7px;
    height: 151px;
}
.nav-columns {
    position: absolute;
    top: 3436px;
    left: 620px;
    width: 283.1px;
    height: 151px;
}
.explore-us-on {
    position: absolute;
    top: 224.43px;
    left: 8px;
    letter-spacing: 0.01em;
    line-height: 124.5%;
    font-weight: 500;
    display: inline-block;
    width: 182.1px;
}
.social-icon {
    position: absolute;
    top: 0px;
    left: 143.15px;
    width: 43.2px;
    height: 316.4px;
}
.social-icon1 {
    position: absolute;
    top: 273.43px;
    left: 0px;
    width: 43.2px;
    height: 41px;
}
.social-icon2 {
    position: absolute;
    top: 273.43px;
    left: 69.47px;
    width: 47.4px;
    height: 45px;
}
.social {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 186.3px;
    height: 318.4px;
}
.discover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 190.1px;
    height: 318.4px;
}
.outbound {
    position: absolute;
    top: 3240.57px;
    left: 1098px;
    width: 190.1px;
    height: 318.4px;
    font-size: 20px;
}
.subheading1 {
    position: absolute;
    top: 0px;
    left: 568px;
    font-weight: 600;
}
.heading1 {
    position: absolute;
    top: 27px;
    left: 387px;
    font-size: 50px;
    text-transform: capitalize;
    font-family: Volkhov;
    color: #14183e;
}
.destination-card-child {
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 24px;
    width: 314px;
    height: 457px;
    object-fit: cover;
}
.navigation-1-icon {
    position: absolute;
    top: 68px;
    left: 20px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.days-trip {
    position: absolute;
    top: 68px;
    left: 54px;
    font-size: 16px;
    line-height: 124.5%;
    font-weight: 500;
}
.destination-card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 315px;
    height: 457px;
}
.destination-card1 {
    position: absolute;
    top: 0px;
    left: 362px;
    width: 315px;
    height: 457px;
}
.destination-card2 {
    position: absolute;
    top: 0px;
    left: 719px;
    width: 315px;
    height: 457px;
}
.destination-card3 {
    position: absolute;
    top: 0px;
    left: 1076px;
    width: 315px;
    height: 457px;
}
.scroll-section {
    position: absolute;
    top: 140px;
    left: 0px;
    width: 1391px;
    height: 457px;
    text-align: left;
}
.top-destinations-section {
    position: absolute;
    top: 1440px;
    left: 80px;
    width: 1391px;
    height: 597px;
    text-align: center;
}
.image-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 880.2px;
    height: 723.7px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 67px;
    border-radius: 18px 5px 10px 5px;
    background-color: #fff1da;
    width: 50px;
    height: 49px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.image-25-icon {
    position: absolute;
    top: 6px;
    left: 0px;
    border-radius: 0px 0px 30px 35px;
    width: 40px;
    height: 69px;
    object-fit: cover;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 66px;
    width: 67px;
    height: 75px;
}
.barton-vanity-itself {
    position: absolute;
    top: 151px;
    left: 0px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 181px;
    height: 78px;
}
.local-events {
    position: absolute;
    top: 109px;
    left: 29px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #1e1d4c;
}
.category {
    position: absolute;
    top: 234.93px;
    left: 862.79px;
    width: 181px;
    height: 229px;
}
.category-child {
    position: absolute;
    top: 0px;
    left: 63px;
    width: 77px;
    height: 70px;
}
.we-deliver-outsourced {
    margin: 0;
}
.we-deliver-outsourced-container {
    position: absolute;
    top: 146.31px;
    left: 0px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 181px;
    height: 82.7px;
}
.customization {
    position: absolute;
    top: 101.78px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #1e1d4c;
    display: inline-block;
    width: 140px;
    height: 28.6px;
}
.category1 {
    position: absolute;
    top: 552.93px;
    left: 863.79px;
    width: 181px;
    height: 229px;
}
.category-item {
    position: absolute;
    top: 0px;
    left: 50.49px;
    width: 87.6px;
    height: 78.7px;
}
.built-wicket-longer {
    position: absolute;
    top: 150.31px;
    left: 4.76px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 172.4px;
    height: 78.7px;
}
.calculated-weather {
    position: absolute;
    top: 107.94px;
    left: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #1e1d4c;
    display: inline-block;
    width: 181px;
    height: 27.2px;
}
.category2 {
    position: absolute;
    top: 561.93px;
    left: 1181.79px;
    width: 181px;
    height: 229px;
}
.category-active-child {
    position: absolute;
    top: 68.94px;
    left: 0px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0);
    width: 181px;
    height: 207.3px;
}
.engrossed-listening-park {
    position: absolute;
    top: 191.21px;
    left: 11px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 162px;
    height: 85px;
}
.best-flights {
    position: absolute;
    top: 151.21px;
    left: 33px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #1e1d4c;
    text-align: left;
    display: inline-block;
    width: 75.2px;
    height: 17.8px;
}
.category-active-item {
    position: absolute;
    top: 0px;
    left: 1.47px;
    width: 175.8px;
    height: 150.3px;
}
.category-active {
    position: absolute;
    top: 192.93px;
    left: 1185.79px;
    width: 181px;
    height: 276.2px;
}
.image-parent {
    position: absolute;
    top: 581.07px;
    left: -114.79px;
    width: 1366.8px;
    height: 790.9px;
    text-align: center;
    font-size: 16px;
}
.main {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 3762px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #5e6282;
    font-family: Poppins;
}
body {
    margin: 0;
    line-height: normal;
}